body {
  background-color: rgb(253, 248, 243); /* Replace with your desired color */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.main-page {
    display: flex;
    align-items: baseline;
    text-align: left;
    margin-left: 5vw;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    gap: 1vw;
    margin-top: 5vw;
    margin-right: 5vw;
  }

  .title, .section-title {
    margin: 0; /* Reset any default margin */
    padding: 0; /* Reset any padding, just in case */
    line-height: 1;
  }

  .navigation {
    width: 40%; /* Adjust as needed */
  }
  
    .title {
      font-size: 4.3vw;
      font-weight: 100;
      margin-bottom: 0;
    }
    
    .subtitle {
      font-size: 0.9vw;
      color: rgb(74, 74, 74);
      font-weight: 100;
    }

    .menu-note-container {
      width: 60%;
    }

      #menu-note {
        font-size: 1.3vw;
        color: rgb(96, 96, 96);
        filter: blur(0.07vw);
      }
      
    .menu {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column; /* Stack buttons vertically */
      align-items: flex-start; /* Align items to the left (start of the container) */
      gap: 0.5vw; /* Space between buttons */
      font-weight: 100;
      width: 100%;
    }
    
    .menu-item {
      background-color: transparent;
      font-family: 'Inter', sans-serif;
      border: none;
      font-size: 1vw;
      font-weight: 100;
      cursor: pointer;
      transition: background-color 0.3s ease;
      padding: 0;
      text-align: left;
    }

    .menu-item:hover {
      text-decoration: underline;
    }
  
  .main-content{
    overflow-y: auto;
    width: 50%;
    margin: 0;
  }

  .section-title {
    font-size: 2vw;
    font-weight: 100;  
    font-style: italic;   
    margin: 0; 
    cursor: pointer;
  }

  .section-title:hover {
    text-decoration: underline;
  }

  .post-item{
    cursor: pointer;
    gap: 0;
  }

  .post-item:hover {
    text-decoration: underline;
  }

  h4 {
    font-size: 1.2vw;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0.5vw;
  }
  p {
    margin-top: 0.5vw;
  }

  